.registration-form-dropdown {
    position: relative;
    width: calc(100% - 60px);    
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "IBM Plex Sans", sans-serif;
}

.registration-form-dropdown-label {
    font-size: 16px;
    font-weight: 500;
    color: #756F86;
    margin-bottom: 7px;
    margin-top: 0;    
}

.registration-form-dropdown-box {
    padding-left: 16px;
    height: 52px;
    width: calc(100% - 16px);
    border: 1px solid #DBE2EA;
    border-radius: 6px;    
    font-size: 16px;
    font-weight: 400;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    display: flex;
    align-items: center;    
}

.registration-form-dropdown-button {
    margin-right: 10px;
    margin-left: auto;
}

.registration-form-dropdown-list {
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    border-radius: 6px;    
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);    
    margin-top: 4px;
}

.registration-form-dropdown-option {
    padding-left: 16px;
    height: 44px; 
    width: calc(100% - 16px);
    font-size: 16px;
    font-weight: normal;
    color: #756F86;    
    display: flex;
    align-items: center;
}

/* Also add backup styles for non-hoverable mobile devices? */
.registration-form-dropdown-option:hover {
    background-color: #EBF4F8;
}
