.registration-form-input {
    width: 100%;
}

.registration-form-input label {
    display: block;
}

.input-field {
    height: 52px;
    width: 100%;    
    /* margin-right: 30px; */
    border-radius: 6px;
}