.registration-form-select {
    width: 100%;
}

.registration-form-select label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.registration-form-select select {
    position: relative;
}

.registration-form-select select {
    height: 52px;
    padding-left: 16px;
    width: -webkit-calc(100% - 76px);
    width: -moz-calc(100% - 76px);    
    width: calc(100% - 76px);    
    border-radius: 6px;    
    border: 1px solid #DBE2EA;
    color: #2C2738;
    box-shadow: 0px 4px 8px 0px #2C2738 4%;
    font-size: 16px;
    font-weight: 400;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;    
}

.registration-form-select select {
    display: none;
}