.registration-form__input {
    width: 100%;
    margin-top: 8px;
}

.registration-form__input label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #756F86;
    margin-bottom: 7px;
    margin-top: 0;
}

.registration-form__input__field {
    padding-left: 16px;
    height: 52px;
    width: calc(100% - 60px);    
    border-radius: 6px;    

    background-color: #FFFFFF;
    color: #2C2738;

    box-shadow: 0px 4px 8px 0px #2C2738 4%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #DBE2EA;
}

/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input.registration-form__input__field:-webkit-autofill,
input.registration-form__input__field:-webkit-autofill:hover, 
input.registration-form__input__field:-webkit-autofill:focus {
    /* Prevents Chrome from applying its own styles on autofill */
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    -webkit-text-fill-color: #2C2738;
}

.registration-form__input__field:focus {
    border: 2px solid #0880AE; 
}

.registration-form__input__field::placeholder {
    color: #7C9CBF;
}

.registration-form__input__invalid-message {
    height: 18px;
    font-size: 14px;
    font-weight: normal;
    color: #FF7171;
    margin-top: 8px;
    margin-bottom: 0;
}