.registration-form-input {
    width: 100%;
}

.registration-form-input label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #756F86;
    margin-bottom: 7px;
}

.registration-form-input-field {
    height: 52px;
    padding-left: 16px;
    width: -webkit-calc(100% - 76px);
    width: -moz-calc(100% - 76px);    
    width: calc(100% - 76px);    
    border-radius: 6px;    
    background-color: #FFFFFF;
    color: #2C2738;
    box-shadow: 0px 4px 8px 0px #2C2738 4%;
    font-size: 16px;
    font-weight: 400;
    outline: none !important; /* Otherwise Chrome adds a black border on focus */
}

.registration-form-input-field-no-focus {
    border: 1px solid #DBE2EA;
}

.registration-form-input-field-focus {
    border: 2px solid #0880AE; 
}

.registration-form-input-field::placeholder {
    color: #7C9CBF;
}

.invalid-message {
    height: 18px;
    font-size: 14px;
    font-weight: normal;
    color: #FF7171;
    margin-top: 8px;
    margin-bottom: 0;
}