.registration-form__checkbox__wrapper {
    /* Prevents visible shifting of the text located at the right of Checkbox */
    height: 28px;
    width: 28px;
}

.registration-form__checkbox {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border: 1px solid #DBE2EA;
}

.registration-form__checkbox:focus {
    border: 2px solid #0880AE;
}

.registration-form__checkbox_unchecked {
    height: 28px;
    width: 28px;
}

.registration-form__checkbox_checked {
    height: 26px;
    width: 26px;
}
